{% extends 'base.html' %}

{% block title %}
 home
 {% endblock %}

{% block content %}
    <div style="display: flex; gap: 20px;flex-wrap: wrap;justify-content: center;">
        {% for ads in all_ads %}
        <div class="card" style="width: 28rem">
            <div class="card-body">
                <h5 class="card-title">{{ ads.owner }}</h5>
                <h5 class="card-title">{{ ads.subcategory }}</h5>
                <h5 class="card-title">{{ ads.title }}</h5>
                <p class="card-text">{{ ads.description }}</p>
                <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
                    {{ ads.price }}
                </p>
                {% if ads.type == "Хочу научиться" %}
                <button type="button" class="btn btn-success">{{ads.type}}</button>
                {% else %}
                <button type="button" class="btn btn-info">{{ads.type}}</button>
                {% endif %}
                <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
                    {{ads.created_at|date:"d.m.Y"}}
                </p>
                <img style="max-width: 100%;" src="{{ ads.image.url }}">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

</html>