{% extends 'base.html' %}

{% block title %}
Просмотр
{% endblock %}

{% block content %}
   

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        
        <img class="bd-placeholder-img card-img-top" max-width="100%" height="225" src="{{ ad.image.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-price">Категория: {{ ad.subcategory.category.title }}</p>
          <h5 class="card-title">{{ ad.title }}</h5>
          <p class="card-price">Автор: {{ ad.owner }}</p>
          <p class="card-price">цена: {{ ad.price }}</p>
          <p class="card-text">{{ ad.description }}</p>
          <p class="card-price">тип: {{ ad.type }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ ad.created_at|date:"d.m.Y" }}</small></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}